<h1>HOME</h1>

{{!-- if statement --}}
{{#if condition}}
    <h2>{{subheading}}</h2>
{{/if}}

{{!-- for loop --}}

{{#each tempArray }}
    <li>{{this}}</li>
{{/each}}

<h1>{{foo}}</h1>


<h3>{{subtext}}</h3>

{{>list}}